[Unit]
Description=Start MAVROS on boot
After=network.target

[Service]
User=dronepi
WorkingDirectory=/home/dronepi
ExecStart=/bin/bash -c "source /opt/ros/humble/setup.bash && ros2 run mavros mavros_node --ros-args -p fcu_url:=/dev/serial0:115200"
Restart=always

[Install]
WantedBy=multi-user.target
