[Unit]
Description=PX4 .ulg Logger
After=network.target

[Service]
User=dronepi
WorkingDirectory=/home/dronepi
ExecStart=/usr/bin/python3 /home/dronepi/PX4-Autopilot/tools/logger/logger.py \
  --device /dev/serial0 \
  --baudrate 115200 \
  --log-dir /home/dronepi/flight_logs/ulg \
  --verbose
Restart=always

[Install]
WantedBy=multi-user.target

