[Unit]
Description=PX4 .ulg Logger
After=network.target

[Service]
User=dronepi
Group=dialout
WorkingDirectory=/home/dronepi
ExecStart=/home/dronepi/start_px4_logger.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
